.eventBox{
  background: #151517;
  height: 85%;
  width: 22%;
  margin-top: 4.5rem;
  margin-left: 3.5rem;
  border-radius: 1rem;
  position: fixed;
  /* display: flex; */
  right: 1rem;
  top: 0.8rem;
  align-items: center;
  justify-content: center;
  
}

.heading{
  background: #151517;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.9rem
}

img{
  background: #151517;

}

.table-container{
  border: 1px white solid;
  height: 20rem
} 
.title{
  background: #151517;
  color: white;
}

.buttons2{
  display: flex;
align-items: center;
gap: 1rem;
/* align-self: stretch; */
padding-left: 2rem;
margin-top: 1rem;
background-color: #151517;

}

.addCamera{
  display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
/* gap: 10px; */
border-radius: 6px;
background: var(--Green-darkmode-accentcolor-001, #39BA25);
font-size: 0.8rem;
}

.connectCamera{
  display: flex;
  padding: 8px 16px;
justify-content: center;
align-items: center;
/* gap: 10px; */
color:white;
border-radius: 6px;
border: 1px solid var(--Black-darkmode-widgetborders-003, #29292C);
background: var(--Black-darkmode-widgetsurface-002, #151517);
font-size: 0.8rem;

}


.list{
  height: 70%;
  width: 90%;
margin-left: 5%;
  background-color: #151517;
}









.table-container {
  color: white;
  border-radius: 8px;
  width: fit-content; 
  margin: auto;
  background-color: #151517;

}


.table-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px; 
  background-color: #151517;

}

.table-body {
  padding: 16px; 
  background-color: #151517;
}

.no-data-message {
  /* display: flex; 
  position: fixed; */
  align-items: center;
  gap: 8px; 
  background-color: #151517;
  border: 1px solid red;
  
}

/* .no-data-message img {
  height: 24px; 
  background-color: #151517;

} */

.camera-header th {
  font-size: 12px; 
  text-align: center; 
  flex: 1; 
  background-color: #151517;
  border-bottom: 2px solid #ffffff;

}

/* .header-item{
  background-color: #151517;
} */

/* .camera-checkbox{

  appearance: none; 
  background-color: #151517; 
  border: 1px solid white; 
  cursor: pointer; 
  width: 15px; 
  height: 15px; 
  vertical-align: middle; 
  border-radius: 0.2rem;
  margin-right: 0.5rem;
} */

.table-container {
  width: 100%; 
  table-layout: fixed; 
  background-color: #151517;
}

/* .camera-header th {
  width: 33.3333%; 
  font-size: 12px;
  text-align: center;
  background-color: #151517;

} */
