.box{
  
  background-color: #151517;
  border: 1px solid #494949;
  border-radius: 1rem;
  justify-content:center;
  margin-top: 1%;
  display: flex;
  position: fixed;
  width: 70%;
  top: 6.8rem;
  left: 5rem;
  height: 78%;
}

.img {
  width: 35%; /* Set the width of the image to 50% of its parent element */
  height: 50%; /* Set the height to auto to maintain the aspect ratio */
  padding-top: 6rem;
  background-color: #151517;
}
