


.vertical-line {
    width: 0.2rem; /* Makes the line thin */
    height: 27rem; /* Adjust based on your needs */
    background-color: #29292C; /* Sets the line color */
  margin-top: 1%;
  }
  
  .horizontal-line{
    width: 94%;
    margin-left: 2%;
    height: 0.1rem; /* Adjust based on your needs */
    background-color: #29292C; /* Sets the line color */
  margin-top: 2%;
  }
  
  .BackButtonAndReportID{
    display: flex;
    width: fit-content;
  align-items: center;
  background-color: #151517;
  }
  
  .reportDetails{
    display: flex;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
  
  }
  /* .ReportImage{
    width: 30%;
    height: 30%;
  } */
  
  .reportDetails p{
    background-color: #151517;
  }
  
  .reportDetailsHeader{
    display: flex;
  align-items: center;
  align-self: stretch;
  background-color: #151517;
  color: var(--White-Lightmode-Lightmode-surface-001, #FAFCFF);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.225px;
  }
  
  
  .AlertTypeReport, .CameraNumberReport, .DateOfDetectionReport, .TimeOfDetectionReport, .DurationReport, .LocationReport, .Scale{
    display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #151517;
  align-self: stretch;
  }
  
  .ReportDetailsAndImage{
    display: flex;
  justify-content: space-between;
  /* align-items: center;
  align-self: stretch; */
  width: 96%;
      background-color: #151517;
      margin-left: 2%;
      margin-top: 2%;
  
  }
  
  .LighterColorP{
    color: var(--Grey-darkmode-ghost-001, #9E9E9E);
  /* large */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  }
  
  .DarkerP{
    color: var(--White-lightmode-surface-001, #FAFCFF);
  /* large */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  }
  
  .ReportID{
    color: var(--White-Lightmode-Lightmode-surface-001, #FAFCFF);
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.225px;
  }
  
  .ReportBackButton{
    width: 2rem;
    height: 2rem;
  }
  
  .ReportDownloadButton{
    width: 2rem;
    height: 2rem;
    margin-right: 2%;
  }
  
  .BackButtonAndReportIDAndDownloadButton{
    display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: #151517;
  margin-left: 1%;
  }
  
  
  
  .commentBoxReport {
    border: 1px solid #444444; /* Light gray border initially */
    background-color: #151517;
    outline: none; 
    width: 96%;
    margin-left: 2%;
    margin-top: 1%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    border-radius: 1rem;
  }
  
  .commentBox:focus {
    border: 1px solid #007bff; /* Darker shade when focused, choose color as needed */
  }
  
  .ReportNoteHeader{
    margin-left: 1%;
    margin-top: 1%;
  }
  
  .commentNote{
    color: var(--Grey-darkmode-ghost-001, #9E9E9E);
  /* subtle */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: #151517;
  margin-left: 2%;
  }